* {
  /* Reset CSS */
  @apply box-border m-0 p-0;
}

body {
  /* Setting up base body styles
    - Background and text colors from theme variables
    - Font family from theme variable
    - Overflow handling
  */
  @apply relative min-h-screen w-screen max-w-screen overflow-x-hidden overflow-y-hidden font-sans bg-black text-foreground selection:bg-accent selection:text-background;
}
