/* Components */

hr {
  @apply h-px w-full border-white/10 origin-left transform;
}

* {
  cursor: none;
}

@media (pointer: coarse) {
  * {
    cursor: auto;
  }
  .custom-cursor {
    display: none !important;
  }
}
