@import "./fonts.css";

@theme default {
  /* Colors */
  --color-background: #010510;
  --color-foreground: #f5f5f5;
  --color-accent: #f53f06;
  --color-muted: var(--color-slate-600);

  /* Fonts */
  --font-sans: "ClashDisplay", sans-serif;
  --font-serif: "Sharpie", serif;

  /* Responsive Variables */
  --max-hero-image-width: max(28vw, 400px);
}
