@import "./fonts.css";

@theme default {
  /* Colors */
  --color-background: #000000;
  --color-foreground: #f5f5f5;
  --color-accent: #f53f06;
  --color-muted: #a1a1aa;
  --color-textAccent: #71717a;

  /* Fonts */
  --font-sans: "Josefin Sans", sans-serif;
  --font-serif: "Josefin Sans", serif;
  --font-mono: "Anta", monospace;
}
