<button class="relative aspect-square size-16">
  <p class="font-serif">menu</p>
  <svg
    class="absolute top-0 left-0 size-full"
    viewBox="0 0 36 36"
    xmlns="http://www.w3.org/2000/svg"
  >
    <!-- Background Circle -->
    <circle
      cx="18"
      cy="18"
      r="16"
      fill="none"
      class="stroke-current text-foreground/20"
      stroke-width="0.5"></circle>
    <!-- Progress Circle -->
    <circle
      cx="18"
      cy="18"
      r="16"
      fill="none"
      class="stroke-current text-accent transition-all duration-300 ease-in"
      stroke-width="1"
      stroke-dasharray="100"
      stroke-dashoffset="100"
      id="scroll-indicator"
      stroke-linecap="round"></circle>
  </svg>
</button>

<script src="@/scripts/scroll-indicator.ts"></script>
