---
const { title, index, hasBorder = true } = Astro.props;
---

<section class="mb-24 md:mb-32 section-with-sticky-title">
  {hasBorder && <hr class="animated-separator mb-12" />}

  <div class="grid md:grid-cols-4 gap-y-8 gap-x-12">
    <!-- Section Title Start -->
    <div class="md:col-span-1">
      <div class="flex flex-col items-start section-title">
        <span
          class="font-mono text-textAccent font-semibold mb-4 text-sm reveal-text"
          ># {index}</span
        >
        <h2
          class="text-2xl font-serif font-bold text-foreground tracking-tight reveal-text"
        >
          {title}<span class="text-accent">.</span>
        </h2>
      </div>
    </div>
    <!-- Section Title End -->
    <!-- Section Content Start -->
    <div class="md:col-span-3">
      <slot />
    </div>
    <!-- Section Content End -->
  </div>
</section>
