---
const { title, index, hasBorder = false } = Astro.props;
---

<section class="mb-24 md:mb-32">
  <!-- {hasBorder && <AnimatedSeparator class="mb-12" />} -->

  <div class="grid md:grid-cols-4 gap-y-8 gap-x-12">
    <div class="md:col-span-1 flex flex-col items-start">
      <span class="font-mono text-textAccent font-semibold mb-4 text-sm"
        ># {index}</span
      >
      <h2 class="text-2xl font-serif font-bold text-foreground tracking-tight">
        {title}<span class="text-accent">.</span>
      </h2>
    </div>
    <div class="md:col-span-3">
      <slot />
    </div>
  </div>
</section>
